body {
    font-family: 'Bebas Neue', cursive;
}

.banner {
    background-image: url(donation13.jpg);
    background-repeat: none;
    background-size: 100%;
    height: 100vh;
}

.Donation-haeder {
    text-align: center;
    color: white;
    font-size: 35px;
    padding: 250px;
    button: orange;
}

.Donate-today {
    text-align: center;
    font-size: 35px;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgb(96, 93, 93);
    margin: 5px 5px;
    font-weight: bold;
    border: 2px solid;
    color: red;

}

.plan-haeder {
    text-align: center;
}

.Donate plan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 20px;

}

.donate-plan-box {
    width: 400px;
    padding: 40px 30px 20px;
    background: rgb(205, 205, 205);
    border-radius: 5px;
}

#plan-card-active {
    background-color: rgb(185, 146, 222);
}

#donate-plan-box {
    width: 33.%;
}

.donate-email {
    width: 60%;
    margin: 90px 0px 100px 250px;
    justify-content: center;
    background-color: orange;
}

.donate-update-email {
    width: 37%;
    position: absolute;
    margin-left: 240px;
    margin-top: 61px;
    justify-items: center;

}

.input {
    justify-content: center;
    display: inline-block;
    padding: 12px;
    box-sizing: border-box;
    border: none;
}